<div id="book-page">
    {{# if book}}
        <div class="container">
            <h1>{{book.title}}</h1>
            <p>Este livro tem {{book.pageqty}} páginas!</p>
        </div>
        <div class="actions">
            <a href="/books/edit/{{book.id}}" class="edit-btn">
                Editar
            </a>
        </div>
    {{ else}}
        <h1>Nenhum livro encontrado</h1>
    {{/if}}
</div>


