* {
    font-family: Helvetica;
    margin: 0;
}

.no-style {
    margin: initial !important;
    padding: initial !important;
    color: initial !important;
    background-color: initial !important;
    text-align: initial !important;
}

#navbar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cccccc;
    padding: 1em;
    margin-bottom: 1em;
}
#navbar ul {
    float: left;
    display: flex;
    list-style: none;
    margin: 0;
}

#navbar li {
    margin: 0;
}

#navbar a {
    text-decoration: none;
    color: black;
    border-radius: 4px;
    padding: 10px;
    margin: 4px;
    font-family: "Calibri Light", serif;
    font-weight: bolder;
    background-color: lightgrey;
    transition-duration: .4s;
}

#navbar a:hover {
    background-color: #646161;
    color: #CCC ;
    padding: 12px;
}

h1 {
    text-align: center;
}

.form {
    text-align: center;
    width: 450px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.form-checkbox {
    flex-direction: row;
    align-items: center;
}

.form-checkbox input {
    margin-right: 10px !important;
}

.form-control input {
    margin: 4px 0;
    padding: 5px;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.3em;
}

.actions {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.actions form {
    display: block;
    padding: 0;
    margin: 0;
}

.action-btn {
    text-decoration: none;
    color: white;
    border: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 10px 16px;*/
    width: 100px;
    height: 20px;
    border-radius: 6px;
    transition-duration: .4s;
}

.action-btn:hover {
    cursor: pointer;
    background-color: rgba(161, 162, 133, 0.82);
}

.view-btn {
    background-color: #0ccc2c;
}

.edit-btn {
    background-color: rgba(41, 41, 250, 0.82);
}

.delete-btn {
    background-color: red;
}

.all-users {
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.user-card {
    margin-top: 10px;
    width: 200px;
    height: 220px;
    background-color: lightgrey;
    border-radius: 6px;
}

.user-card-name {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.user-card-occupation {
    padding: 5px;
}

.user-detail-name, .user-detail-occupation {
    margin-top: 10px;
    text-align: center;
}

.bold {
    font-weight: bold;
}