* {
    font-family: Helvetica;
}

h1 {
    text-align: center;
}

.form, .books-container {
    text-align: center;
    width: 450px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.form-control input {
    margin: 4px 0;
    padding: 5px;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.3em;
}

.books-container div {
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.books-container a {
    margin: auto;
    text-align: center;
}

.bold {
    font-weight: bold;
}