<h1>Cadastre o seu livro!</h1>
<form action="/books/insertbook" method="POST" class="form">
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" placeholder="Digite aqui o título do livro" name="title" id="title">
    </div>
    <div class="form-control">
        <label for="pageqty">Quantidade de Páginas:</label>
        <input type="number" placeholder="Digite aqui o número de páginas do livro" name="pageqty" id="pageqty">
    </div>
    <div class="form-control">
        <input type="submit" value="Cadastrar">
    </div>
</form>